
@{
    ViewBag.Title = "Backend4";
}

<h2>Zadanie Backend 4</h2>

<h4>Miejsca, gdzie w trzęsieniu zemi zginęło więcej niż 1000 osób.</h4>

<div>
    <table>
        <tr>
            <th>Miejsce</th>
            <th>Zabitych</th>
        </tr>
        @foreach (var row in ViewBag.rows)
        {
            <tr>
                <td>
                    @row[1]
                </td>
                <td>
                    @Convert.ToInt32(row[6])
                </td>
            </tr>
        }
    </table>
</div>


