@{
    ViewBag.Title = "Index";
}

<h2>Zadanie Backend C#</h2>

<h3>@Html.ActionLink("Zadanie Backend 3 - Liczba trzęsień ziemi w podanym roku", "Backend3", "Home")</h3>
<h3>@Html.ActionLink("Zadanie Backend 4 - Lista miejsc trzęsień ziemi, w których zginęło więcej niż 1000 osób", "Backend4", "Home")</h3>
<h3>@Html.ActionLink("Zadanie Backend 5 - Pobierz plik JSON z ilościami trzęsień ziemi dla danego okresu", "Json", "Home")</h3>

