@model Zadanie.Models.JsonData
@{
    ViewBag.Title = "Backend 5 - Json";
}

<h2>Pobierz plik Json</h2>
<h4>Wybierz okres, dla którego chcesz pobrać dane</h4>
<p>Uwaga: Jeśli pierwszy rok będzie większy od ostatniego, plik nie będzie zawierał żadnych wartości!</p>

@* Lista do wyboru okresu, dla którego ma być zwrócony Json *@
@using (Html.BeginForm("DownloadJson", "Home", FormMethod.Post))
{
    int minYear = Zadanie.Models.JsonData.MinYear;
    int maxYear = Zadanie.Models.JsonData.MaxYear;

    @Html.DropDownListFor(m => m.FirstYear, Zadanie.Models.Earthquake.GetAllYearsList(minYear, maxYear), "Wybierz pierwszy rok...")
    @Html.DropDownListFor(m => m.LastYear, Zadanie.Models.Earthquake.GetAllYearsList(minYear, maxYear), "Wybierz ostatni rok...")
    <input type="submit" value="Pobierz" />
}


